<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/add_photos.css' %}">

</head>


<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="../../static/images/logo.png" alt="">
                <img class="logo-compact" src="../../static/images/logo-text.png" alt="">
                <img class="brand-title" src="../../static/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                    </li> -->
                    <li class="nav-label">Formulaire</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Formulaire</span></a>
                                <ul aria-expanded="false">
                                    <li><a href="{% url 'add_lieu' user_id=user_id %}">Ajouter Lieu</a></li>
                                    <li><a href="{% url 'add_evenement' user_id=user_id %}">Ajouter événement</a></li>
                                  
                                    <li><a href="{% url 'add_transport' user_id=user_id %}">Ajouter un transport</a></li>
                                </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-xxl-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="basic-form">
                                    <form method="POST"  id="upload-form" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="d-flex justify-content-center mb-5">
                                            <div class="d-flex align-items-center justify-content-between " style="width:50%">
                                                  <h4 class="card-title-half">Nom</h4>
                                                <input type="text"  class="form-control input-rounded mx-2"placeholder="Entrer le nom de l'événement" name="nomEvent">
                                            </div>
                                          </div>
                                <h4 class="card-title">Description</h4>
                                <textarea class="form-control mb-4" rows="4" id="comment" name="descripEvent"></textarea>
                                <div class="d-flex justify-content-center mb-5 flex-wrap">
                                    <div class="d-flex align-items-center mr-5 " style="width:40%">
                                        <h4 class="card-title-half mr-3">Lieu</h4>           
                                        <select class="custom-select mr-sm-2 " id="inlineFormCustomSelect" name="id_lieu">
                                            {% for option in form.id_lieu.field.choices %}
                                                <option value="{{ option.0 }}" {% if form.id_lieu.value == option.0 %} selected {% endif %}>{{ option.1 }}</option>
                                            {% endfor %}
                                        </select>
                                  
                            </div>
                            <div class="d-flex align-items-center  ml-5 " style="width:40%" >
                                <h4 class="card-title-half mr-3 ">Date</h4>
                                <input type="date" class="form-control input-rounded " name="dateEvent">
                            </div>
                                   </div>
                                           <h4 class="card-title">Horaires</h4>
                                            <div class="card-body form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Heure début</label>
                                                    <input type="time" class="form-control" name="H_debut">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Heure Fin</label>
                                                    <input type="time" class="form-control" name="H_fin" >
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center  " style="width:40%" >
                                                <h4 class="card-title mr-3">Images</h4>
                                                <input type="file" name="images" id="file-input" accept="image/png, image/jpeg" multiple />
                                                <div class="=input-rounded form-control image-box d-flex align-items-center">
                                                <label type="image" id="add_images" for='file-input' > Choisir Images </label>
                                                 </div>
                                               
                                            </div>
                                        </div>
                                        <div id="images"></div>
                                        <div class="text-md-right mt-4 mx-4 mb-4">
                                            <button type="submit" class="btn btn-primary" href="{% url 'add_evenement' user_id %}">Ajouter</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->  
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js' %}" ></script>
    <script src="{% static 'js/quixnav-init.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>

    <script src="{% static 'js/add_photos.js' %}"></script>
    
</body>



</html>