<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ViDzit</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">

    <!-- Custom Stylesheet -->
    <link href="{% static 'styles/chart.css' %}" rel="stylesheet">
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
    
</head>

<body>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="../../static/images/logo.png" alt="">
                <img class="logo-compact" src="../../static/images/logo-text.png" alt="">
                <img class="brand-title" src="../../static/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-bell"></i>
                                    <div class="pulse-css"></div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <ul class="list-unstyled">
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-user"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-shopping-cart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="danger"><i class="ti-bookmark"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="primary"><i class="ti-heart"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                        <li class="media dropdown-item">
                                            <span class="success"><i class="ti-image"></i></span>
                                            <div class="media-body">
                                                <a href="#">
                                                    <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                    </p>
                                                </a>
                                            </div>
                                            <span class="notify-time">3:20 am</span>
                                        </li>
                                    </ul>
                                    <a class="all-notification" href="#">See all notifications <i
                                            class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                    <i class="mdi mdi-account"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="./app-profile.html" class="dropdown-item">
                                        <i class="icon-user"></i>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="./email-inbox.html" class="dropdown-item">
                                        <i class="icon-envelope-open"></i>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="./page-login.html" class="dropdown-item">
                                        <i class="icon-key"></i>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="quixnav">
            <div class="quixnav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label first">Main Menu</li>
                    <li class="nav-label">Formulaire</li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false"><i
                                class="icon icon-form"></i><span class="nav-text">Formulaire</span></a>
                                <ul aria-expanded="false">
                                    <li><a href="#">Ajouter Lieu</a></li>
                                    <li><a href="#">Ajouter événement</a></li>
                                  
                                    <li><a href="#">Ajouter un transport</a></li>
                                </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
         <!--**********************************
            Content start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
                <h2 class="mb-4">Statistiques</h2>
                <div class="row mb-5">
                    <div class="col-lg-6 col-sm-6 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Camembert du meilleur feedback par emplacement</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="pie-chart"></canvas>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title ">Graphique à barres des 10 meilleurs lieux selon les feedbacks </h4>
                            </div>
                            <div class="card-body mt-5 mb-5">
                                <canvas id="bar-chart"></canvas>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Carte polaire des régions ayant le nombre maximum d'événements </h4>
                            </div>
                            <div class="card-body">
                                <canvas id="polar-chart"></canvas>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Graphique à barres des meilleurs lieux selon le nombre de choix comme favoris</h4>
                            </div>
                            <div class="card-body mt-5 mb-5">
                                <canvas id="bar-chart2"></canvas>
                            </div>
                        </div>

                    </div>
                    
                <!-- <div>
                        <div class="chart-container">
                     <canvas id="pie-chart"></canvas>
                       </div>
                      <div class="chart-container">
                     <canvas id="bar-chart"></canvas>
                       </div>
                      <div class="chart-container">
                     <canvas id="polar-chart"></canvas>
                      </div>
                      <div class="chart-container">
                     <canvas id="bar-chart2"></canvas>
                      </div>
                      
             </div>  -->
             
                    
                </div>
                    
                </div>
            </div>
            <!--**********************************
                         Content end
                     ***********************************-->
 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="{% static 'js/chart.js' %}"></script>
 
    <script>
        // Retrieve the data passed from the Django view
        var data = JSON.parse('{{ data_json|escapejs }}');

        // Call the function in the external JavaScript file to create the charts
        createPieChart(data); // bestfeedback 6 cotés 
        createBarChart(data); // best 10 lieus 
        createPolarChart(data); // Les 5 premiers regions qui ont le maximum nombre d'évenements 
        createBarChart2(data);
    </script>
    
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="{% static 'vendor/global/global.min.js' %}" ></script>
    <script src="{% static 'js/quixnav-init.js' %}"></script>
    <script src="{% static 'js/custom.min.js' %}"></script>

    <script src="{% static 'js/add_photos.js' %}"></script>

   
</body>

</html>

  